* {
    list-style: none;
    box-sizing: border-box;
}

body    {
    height: 145vh;
    position: relative;
    background-color: rgb(250, 247, 242);
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100px;
}

.logo{
    height: 50px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(35, 43, 43);
}

.item:hover {
    color:#7c5024

}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

label {
    cursor: pointer;
    display: none;
}

.btn {
    padding: 10px 24px;
    border-radius: 30px;
    background-color:burlywood;
    color: rgb(35, 43, 43);
    font-weight: 600;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(15, 16, 19);


}
@media(max-width:991px){
    .menu {
        padding: 30px;
        margin: 0;
    }
    
    label{
        display: initial;
    }
    .menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323237;
        display: none;
    }
        
    .item{
        margin: 0 0 20px 0;
        width: 100%;

    }
    
    .btn {
        width: 100px;

    }

    #menu:checked ~ .menu{
        display: initial;
    }

}

footer {
    background-color: #5d2d05;
    color:white;
    text-align: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.github-carlos {
    color:white
}